<mat-toolbar color="primary" class="expanded-toolbar">
  <span>
    <button mat-button routerLink="/">{{title}}</button>
    <button mat-button routerLink="/"><mat-icon>home</mat-icon></button>
  </span>
<div fxLayout="row" fxShow="false" fxShow.gt-sm>
  <button mat-button routerLink="/login" *ngIf="!isAuthenticated">
    <mat-icon>power_settings_new</mat-icon>
    Login
  </button>
  <button mat-button routerLink="/signup" *ngIf="!isAuthenticated">
    <mat-icon>gamepad</mat-icon>
    Signup
  </button>
  <button mat-button *ngIf="isAuthenticated">
    <mat-icon>exit_to_app</mat-icon>
    Logout
  </button>
 
</div>
</mat-toolbar>

<router-outlet></router-outlet>