<mat-card>
    <mat-card-content>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit(forgotPasswordForm.value)">
        <h2>Forgot Password</h2>
        <mat-error *ngIf="errorMsg">
          {{errorMsg}}
        </mat-error>
        <mat-success *ngIf="successMsg">
            {{successMsg}}
        </mat-success>
        
        
        <mat-form-field class="full-width-input">
            <input matInput placeholder="Email/Phone Number" formControlName="username" required>
            <mat-error>
                Please provide a valid email address or a valid phone number
            </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" [disabled]="!forgotPasswordForm.valid">Send Link</button>

        </form>
    </mat-card-content>
</mat-card>